/* Navbar styles */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  /* Title styles */
  .navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  /* Navigation Links container */
  .navbar-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2rem; 
  }
  
  /* Link styles */
  .navbar-links li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  /* Hover effect for links */
  .navbar-links li a:hover {
    color: #007BFF; 
  }
  
  /* Navbar buttons styles */
  .navbar-buttons {
    display: flex;
    gap: 1rem; 
  }
  
  /* Login button styles */
  .login-btn {
    border-style: none;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    text-decoration: none;
    color: white;
  }
  
  /* Register button styles */
  .register-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  /* Register button hover effect */
  .register-btn:hover {
    background-color: #0056b3; 
  }
  
  /* Smooth scrolling behavior */
  html {
    scroll-behavior: smooth;
  }
  
  /* Mobile responsiveness for navbar */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .navbar-links {
      justify-content: center;
      margin-top: 1rem;
      gap: 1rem;
    }
  }
  