.App {
    font-family: Arial, sans-serif;
    margin-top: 100px;
    background-color: #ffffff;   
}
.heading {
    text-align: center;
    font-size: 1.5rem;
    margin: 20px 0;
    color: #333;
}
.heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    margin: 20px 0;
}
 
/* Add Provider Form */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
 
form h3 {
    color: #3a8bcd;
    margin-bottom: 15px;
}
 
label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #555;
}
 
input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}
 
button {
    background-color: #2F65F4;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 6px;
    height: 40px;
}
 
button:hover {
    background-color: #306fa1;
}
 
 
 
.actions button {
    width: auto;
    padding: 5px 10px;
    font-size: 0.9rem;
}
 
/* Button Container */
.button-container {
    display: flex;
    justify-content: flex-start;
    width: 100%; 
    padding: 20px;
}
.toggle-button {
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
 
.toggle-button:hover {
    background-color: #45a049; 
}
/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
 
/* Centered Update Form */
.modal-overlay form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Button Group */
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
 
.cancel-button {
    background-color: #888;
    color: white;
    border-radius: 6px;
    height: 40px;
    cursor: pointer;
}
 
.cancel-button:hover {
    background-color: #666;
}
 
.ellipse-bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 30%; 
    max-width: 400px; 
    opacity: 0.8;
    z-index: -1;
}